//text
$color-Very-dark-desaturate-blue: #1d1e35;
$Soft-red: #f47c57;


//background gradient
$color-Soft-violet: #af67e9;
$color-Soft-blue: #6565e7;

$Very-dark-grayish-blue: #4a4b5e;
$Dark-grayish-blue: #787887;

$Light-grayish-blue: #e7e7e9;

/*

  What is the maximum file upload size?
  No more than 2GB. All files in your account must fit your allotted storage space.

  How do I reset my password?
  Click “Forgot password” from the login page or “Change password” from your profile page.
  A reset link will be emailed to you.

  Can I cancel my subscription?
  Yes! Send us a message and we’ll process your request no questions asked.

  Do you provide additional support?
  Chat and email support is available 24/7. Phone lines are open during normal business hours.
*/