.img {
    display: flex;
    grid-column: 1/2;
    height: 100%;
    flex-direction: column;
    position: relative;

    &--1 {}

    &--2 {
        top: 20%;
    }

    &--3 {
        height: 50%;
        top: 50%;
        right: 40%;
    }

    img {
        width: 100%;
        position: absolute;
    }
}